
<div id="login-holder">
    <div id="loginbox">
        <div id="login-inner" ng:controller="SessionCtrl">
            Note: there is no need to enter any credentials.<br>&nbsp;
            <form ng-submit="login()">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <th>Username</th>
                        <td><input type="text" class="login-inp" ng-model="username"/></td>
                    </tr>
                    <tr>
                        <th>Password</th>
                        <td><input type="password" class="login-inp" ng-model="password"/></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td><input type="submit" class="submit-login"/></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>

<div id="content" ng-controller="SessionCtrl">

<h3>Enter some data and submit to send and access public data.</h3>
<form ng-submit="publicAction()">
    Enter public data:
    <input type="text" ng-model="publicData">
    <input type="submit" value="Submit"></input>
</form>
<p ng-repeat="p in publicContent">Server says: {{p}}</p>

<br/>
<br/>

<h3>Enter some data and submit to send and access protected data.</h3>
<form ng-submit="restrictedAction()">
    Enter restricted data:
    <input type="text" ng-model="restrictedData">
    <input type="submit" value="Submit"></input>
</form>
<p ng-repeat="r in restrictedContent">Server says: {{r}}</p>

<br/>
<br/>

<h3>Press the button to log out.</h3>
<input type="button" value="Log out" ng-click="logout()"></input>
<p>
    The button will tell the server to forget about your session and also
    it will remove sensitive data from page.
</p>
<p>
    In real application it could do
    something else like:
</p>
<ul>
    <li>forcing login window to appear to hide data,</li>
    <li>reloading web page to purge application from received content or</li>
    <li>whatever you find appropriate...</li>
</ul>

</div>

